{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Add quiz</h1>
        <form action="{% url 'webapp:quiz_create'  %}" method="POST" enctype="multipart/form-data">
            {% include 'partial/form.html' %}
            <input type="submit" value="Add quiz" class="btn btn-primary">
            <a class="btn btn-secondary" href="{% url 'webapp:intro' %}">Cancel</a>
        </form>
    </div>
{% endblock %}
