{% extends 'base.html' %}
{% block content %}
    {% for test in post_intro %}
        <div class="card mb-3">
            {% if test.image %}
                <img src="{{ test.image.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ test.title }}</h5>
                <p class="card-text">{{ test.description }}</p>
                <p class="card-text"><small class="text-muted"> By {{ test.author }} at {{ test.created_at }}</small></p>
            </div>
        </div>
    {% endfor %}
    {% for quiz in quizes %}
        <div class="row row-cols-2 row-cols-md-1">
            <div class="col mb-4">
                <div class="card">
                    <img src="{{ quiz.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>Question - {{ quiz.pk }}</h5>
                        <h5 class="card-title">{{ quiz.question }}</h5>
                        <p class="card-text">{{ quiz.question_hint }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

